<!-- index.pug -->
<!-- Chase Gindlesperger -->

<!DOCTYPE html>
<head>
	<title>Chase's WebDev Projects</title>
	<link href = "/../css/index.css" rel="stylesheet" type="text/css">
	<meta charset = 'UTF-8'>
	<
